* {
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: #090b1a;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 700px;
    height: 500px;
    background-color: #1b1938;
}

/* Mobile Settings */
@media only screen and (max-width: 425px) {

    .card {
        width: 85vw;
        height: 90vh;
        background-color: #1b1938;
    }

}

/* Tablet Settings */
@media only screen and (min-width: 426px) and (max-width: 768px){

    .card {
        width: 100px;
        height: 90vh;
        background-color: #1b1938;
    }

}