* {
    box-sizing: content-box;
    margin: 0;
}

body {
    background-color: #090b1a;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Mobile settings */
@media only screen and (max-width: 425px) {

    .card {
        width: 240px;
        height: 90vh;
        background-color: #1b1938;
    }

    .header {
        width: 240px;
        border-radius: 3% 3% 0 0;
    }

    #rgbOverlay {
        position: absolute;
        width: 240px;
        height: 175px;
        background-color: #aa5cdb;
        opacity: 25%;
    }

    #overlay {
        width: 240px;
        height: 175px;
        background-color: #aa5cdb;
        background-image: url("images/image-header-mobile.jpg");
        background-blend-mode: multiply;
        background-size: 100%;
    }

    #txtMargin {
        margin: 25px;
    }

    #txtMargin span {
        color: #aa5cdb;
    }

    .fontEdit {
        display: flex;
        flex-direction: column;
    }

    .fontEdit h1 {
        text-align: center;
        letter-spacing: -0.5px;
        font-size: 20px;
        color: white;
    }

    .fontEdit p {
        text-align: center;
        font-size: 10px;
        color: white;
    }


}

/* Tablet settings */
@media only screen and (min-width: 768px) {

    .card {
        width: 100px;
        height: 90vh;
        background-color: #1b1938;
        justify-content: center;
        align-items: center;
    }

}

/* Desktop settings */
@media only screen and (min-width: 1024px) {

    .card {
        width: 500px;
        height: 90vh;
        background-color: #1b1938;
    }

}